---
import Layout from "../layouts/General.astro";
---

<Layout titulo="Servicios Administrativos Online">
  <div class="relative text-center">
    <img
      class="w-full h-[300px] object-cover filter brightness-50 animate-slide-up-fade"
      src="/ser2.jpg"
      alt="persona haciendo escribiendo en una laptop"
    />
    <h1
      class="animate-fade-in font-bold text-4xl text-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      Servicios Administrativos Online
    </h1>
  </div>
  <div
    class="flex flex-col max-w-[450px] m-auto justify-center items-center p-6 animate-slide-up-fade"
  >
    <p class="mb-4">
      Nuestros servicios administrativos online están diseñados para optimizar
      los procesos de gestión de las pymes. Esto incluye gestión de correos
      electrónicos, programación de reuniones, manejo de documentos,
      contabilidad básica y más. Nos enfocamos en mejorar la eficiencia y
      permitir que los dueños de negocios se concentren en el crecimiento de su
      empresa.
    </p>

    <p class="mb-4">
      Al delegar estas tareas administrativas esenciales a nuestro equipo
      experto, los propietarios de negocios pueden dedicar más tiempo y recursos
      a estrategias de crecimiento y desarrollo. Esto no solo mejora la
      productividad general, sino que también contribuye a una gestión más ágil
      y enfocada. Con nosotros, su empresa ganará en organización y eficacia,
      permitiéndole sobresalir en el competitivo mercado actual.
    </p>
    <p class="mb-4">
      Ofrecemos servicios administrativos virtuales pensados para simplificar la
      gestión de las pymes. Cubrimos desde la gestión de correos y organización
      de reuniones hasta la administración de documentos y contabilidad básica.
      Nuestro objetivo es impulsar la eficiencia, liberando a los empresarios
      para que se enfoquen en expandir su negocio.
    </p>
  </div>
</Layout>
