---
import Layout from "../layouts/General.astro";
---

<Layout titulo="Servicios de Constitución Empresarial">
  <div class="relative text-center">
    <img
      class="w-full h-[300px] object-cover filter brightness-50 animate-slide-up-fade"
      src="/ser3.jpg"
      alt="persona haciendo escribiendo en una laptop"
    />
    <h1
      class="animate-fade-in font-bold text-4xl text-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      Servicios de Constitución Empresarial
    </h1>
  </div>
  <div
    class="flex flex-col max-w-[450px] m-auto justify-center items-center p-6 animate-slide-up-fade"
  >
    <p class="mb-4">
      Facilitamos el proceso de constitución de nuevas empresas, asesorando en
      la selección de la forma jurídica más adecuada, registro de la empresa,
      obtención de licencias y cumplimiento de requisitos legales. Nuestro
      servicio busca simplificar la burocracia y acelerar el inicio de
      operaciones de las pymes.
    </p>

    <p class="mb-4">
      Además de la orientación en la fase inicial de constitución, nuestro
      servicio se extiende para cubrir todas las necesidades legales y
      administrativas que puedan surgir en el camino. Desde la redacción de
      documentos y contratos hasta el asesoramiento en materia de impuestos y
      regulaciones sectoriales, nos aseguramos de que su empresa no solo
      comience con el pie derecho, sino que también se mantenga en el camino del
      cumplimiento y la excelencia operativa. Esta atención continua es parte de
      nuestra dedicación a apoyar el crecimiento y la estabilidad de las pymes
      en el mercado.
    </p>
    <p class="mb-4">
      Por último, nuestra experiencia y conocimiento del entorno empresarial nos
      permiten identificar oportunidades y riesgos a tiempo, ofreciendo
      soluciones proactivas que contribuyen al éxito de su empresa. Nos
      enorgullece ser un aliado estratégico para nuestros clientes,
      proporcionándoles no solo el apoyo necesario para iniciar sus operaciones,
      sino también la visión y el acompañamiento para escalar sus negocios de
      manera sostenible. Con nosotros, las pymes encuentran no solo un asesor,
      sino un socio comprometido con su éxito a largo plazo.
    </p>
  </div>
</Layout>
