---
import Layout from "../layouts/General.astro";
---

<Layout>
  <style>
    .container {
      max-width: 800px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    h1,
    h2 {
      color: #6a5809;
      font-weight: 800;
    }
    p,
    li {
      color: #666;
      margin-bottom: 10px;
    }
    ul {
      margin-left: 20px;
    }
    .footer {
      margin-top: 20px;
      text-align: center;
      font-size: 0.9em;
      color: #f8e16c;
    }
  </style>

  <div class="container animate-fade-in-up">
    <h1>Política de Privacidad de Consultoría ProGestión B&S ASOCIADOS</h1>
    <p>
      Bienvenidos a la política de privacidad de Consultoría ProGestión B&S
      ASOCIADOS. Nuestro compromiso es proteger la privacidad y la seguridad de
      la información personal que nos proporcionan nuestros clientes y usuarios.
    </p>

    <h2>Información Personal que Recogemos</h2>
    <p>
      Recogemos información personal como el correo electrónico, nombre y
      mensajes a través de nuestro formulario de contacto, además de información
      de tarjeta bancaria para procesar compras de asesorías.
    </p>

    <h2>Uso de la Información</h2>
    <p>
      Utilizamos la información recogida para proporcionar y mejorar nuestros
      servicios, comunicarnos con usted para fines de atención al cliente y
      marketing, así como para procesar pagos.
    </p>

    <h2>Compartir Información con Terceros</h2>
    <p>
      No compartimos su información personal con terceros, excepto para cumplir
      con leyes o proteger nuestros derechos.
    </p>

    <h2>Almacenamiento y Seguridad de la Información</h2>
    <p>
      Implementamos medidas de seguridad para proteger su información personal,
      aunque ningún método es 100% seguro.
    </p>

    <h2>Derechos del Usuario</h2>
    <p>
      Los usuarios tienen derecho a acceder, corregir o eliminar su información
      personal, entre otros derechos.
    </p>

    <h2>Uso de Cookies</h2>
    <p>
      Nuestro sitio web utiliza cookies para mejorar la experiencia de usuario.
    </p>

    <h2>Cambios en la Política de Privacidad</h2>
    <p>
      Podemos modificar esta política de privacidad y notificaremos los cambios
      en nuestra página web.
    </p>

    <h2>Contacto</h2>
    <p>
      Si tiene preguntas sobre esta política, puede contactarnos mediante
      [método de contacto].
    </p>

    <div class="footer">
      <p>Última actualización: 20/03/2024</p>
    </div>
  </div>
</Layout>
