---
import Layout from "../layouts/General.astro";
---

<Layout titulo="PyMes">
  <div class="relative text-center">
    <img
      class="w-full h-[300px] object-cover filter brightness-50 animate-slide-up-fade"
      src="/ser1.jpg"
      alt="persona haciendo escribiendo en una laptop"
    />
    <h1
      class="animate-fade-in font-bold text-4xl text-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      Primer servicio
    </h1>
  </div>
  <div
    class="flex flex-col max-w-[450px] m-auto justify-center items-center p-6 animate-slide-up-fade"
  >
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta,
      repellendus ipsum blanditiis illum incidunt quis unde nesciunt velit
      pariatur. Quidem laboriosam eligendi itaque reprehenderit! Delectus,
      cupiditate quas harum omnis officiis unde dolores repellendus
      necessitatibus maxime odio incidunt, corporis saepe fugiat, enim tempore
      ad? Officiis doloremque officia ratione. Voluptas mollitia quibusdam animi
      eum maxime, ex quo nam a ad earum beatae, hic iste culpa modi, ratione
      tempora unde? Perferendis,
    </p>
  </div>
</Layout>
