---
import Layout from "../layouts/General.astro";
---

<Layout>
  <style>
    .container {
      max-width: 800px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    h1,
    h2 {
      color: #7c6100;
      font-weight: 800;
    }
    p,
    li {
      color: #666;
      margin-bottom: 10px;
    }
    ul {
      margin-left: 20px;
    }
    .footer {
      margin-top: 20px;
      text-align: center;
      font-size: 0.9em;
      color: #7c6100;
    }
  </style>

  <div class="container animate-fade-in-up">
    <h1>Términos de Servicio de Consultoría ProGestión B&S ASOCIADOS</h1>

    <h2>1. Introducción</h2>
    <p>
      Bienvenido a Consultoría ProGestión B&S ASOCIADOS. Al acceder y utilizar
      nuestros servicios, usted acepta estar sujeto a los siguientes términos y
      condiciones.
    </p>

    <h2>2. Servicios</h2>
    <p>
      Descripción de los servicios de asesoramiento empresarial que ofrece
      nuestra empresa.
    </p>

    <h2>3. Uso del Servicio</h2>
    <p>
      El usuario se compromete a utilizar los servicios conforme a la ley y de
      manera ética.
    </p>

    <h2>4. Cuentas de Usuario</h2>
    <p>
      Si se requiere una cuenta para algunos servicios, el usuario debe
      proporcionar información precisa y actualizada.
    </p>

    <h2>5. Propiedad Intelectual</h2>
    <p>
      Todo el contenido proporcionado por nuestra empresa está protegido por
      leyes de propiedad intelectual.
    </p>

    <h2>6. Limitación de Responsabilidad</h2>
    <p>
      Nuestra empresa no será responsable por daños resultantes del uso o
      incapacidad de usar los servicios.
    </p>

    <h2>7. Cambios en los Términos de Servicio</h2>
    <p>
      Nos reservamos el derecho de modificar estos términos en cualquier
      momento.
    </p>

    <h2>8. Terminación</h2>
    <p>
      Podemos terminar o suspender el acceso a nuestros servicios por
      incumplimiento de estos términos.
    </p>

    <h2>9. Ley Aplicable y Jurisdicción</h2>
    <p>
      Estos términos se regirán e interpretarán de acuerdo con las leyes del
      país de la empresa.
    </p>

    <h2>10. Contacto</h2>
    <p>
      Para preguntas sobre estos términos, por favor contacte a [información de
      contacto].
    </p>

    <div class="footer">
      <p>Última actualización: 20/03/2024</p>
    </div>
  </div>
</Layout>
