---
import Cardinf from "../components/Cardinf.astro";
---

<h2 id="servicios" class="text-center text-4xl font-bold mt-6 text-[#ecd06f]">
  SERVICIOS
</h2>
<div
  class="xs:flex-col gap-y-6 sm:flex flex-wrap w-full p-4 m-auto items-center justify-center"
>
  <Cardinf
    imagen="/img1.webp"
    titCard="Creación De Plan De Negocios"
    infoCard="Te ayudamos a crear un plan de negocios para tu empresa o proyecto."
    link="/creacionplandenegocios/"
    servicio="Ver Más"
  />
  <Cardinf
    imagen="/img2.webp"
    titCard="Servicios Administrativos Online"
    infoCard="Te ayudamos a llevar la administración de tu empresa o proyecto de manera online."
    link="/administraciononline/"
    servicio="Ver Más"
  />
  <Cardinf
    imagen="img3.webp"
    titCard="Servicios De Constitución Empresarial"
    infoCard="Te ayudamos a constituir tu empresa o proyecto de manera legal."
    link="/constitucionempresarial/"
    servicio="Ver Más"
  />
</div>
