<footer class="bg-gray-800 text-white">
  <div class="max-w-6xl mx-auto px-4 py-6">
    <div class="flex flex-wrap justify-between items-center">
      <!-- Sección de enlaces -->
      <div class="flex flex-wrap items-center">
        <a href="#" class="py-2 px-3 hover:text-gray-400 text-sm"
          >Sobre Nosotros</a
        >
        <a href="#" class="py-2 px-3 hover:text-gray-400 text-sm"
          >Política de Privacidad</a
        >
        <a href="#" class="py-2 px-3 hover:text-gray-400 text-sm"
          >Términos de Servicio</a
        >
      </div>

      <!-- Sección de derechos de autor -->
      <div class="mt-4 md:mt-0">
        <p class="text-sm text-gray-400">
          &copy; 2024 Brenda y Asociados. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>
