<header
  class="relative min-h-screen flex items-center justify-center overflow-hidden bg-black"
>
  <video
    class="absolute z-0 w-auto min-w-full min-h-full max-w-none animate-fade-in"
    src="/herovideo.mp4"
    muted
    autoplay
    loop
  >
  </video>

  <!-- Capa oscura semitransparente -->
  <div class="absolute z-10 w-full h-full bg-black opacity-50"></div>

  <div class="z-20 text-center">
    <h1
      class="text-[#d9b42d] text-3xl font-bold mb-4 uppercase animate-slide-up-fade"
    >
      Consultoría ProGestión B&S ASOCIADOS
    </h1>
    <p class="text-white mb-2 animate-slide-up-fade">
      Conectando estrategias, creando éxitos.
    </p>
    <a
      href="#cotizaciones"
      class="px-6 py-2 bg-[#8c7b40] text-white font-semibold rounded animate-slide-up-fade hover:bg-[#b19a48] transition duration-300"
      >Cotizar</a
    >
  </div>
</header>

<!-- autoplay
    loop -->
