<div
  class="flex flex-col justify-center items-center m-auto bg-gray-50 py-12 lg:py-16"
>
  <h6 class="text-center text-3xl text-yellow-700 font-bold mb-6">
    Precios y servicios Personalizados para tu empresa
  </h6>
  <div
    class="container grid max-w-2xl gap-6 px-4 md:gap-8 md:px-6 lg:max-w-4xl lg:grid-cols-2 lg:gap-12 xl:max-w-5xl xl:grid-cols-2xl"
  >
    <div
      class="flex flex-col justify-between rounded-lg overflow-hidden border border-gray-200 bg-white/85 shadow-sm hover:scale-105 transition-all cursor-pointer"
    >
      <div class="flex flex-col justify-between p-6">
        <div class="space-y-2">
          <h3 class="text-2xl font-semibold tracking-tighter sm:text-3xl">
            Asesoría Básica
          </h3><p class="text-gray-500 dark:text-gray-400">
            Te ayudaremos con lo siguiente.
          </p>
        </div><ul class="space-y-2 py-2">
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 inline-block h-4 w-4"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            ><span class="text-sm font-medium"
              >Como Crear un plan de negocios</span
            >
          </li><li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 inline-block h-4 w-4"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            ><span class="text-sm font-medium"
              >Herramientas Online para optimizar tiempos</span
            >
          </li><li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 inline-block h-4 w-4"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            ><span class="text-sm font-medium"
              >Orientación sobre la constitución de tu empresa</span
            >
          </li>
        </ul><div class="flex flex-col gap-2 min-[400px]:flex-row">
          <script async src="https://js.stripe.com/v3/buy-button.js"></script>

          <stripe-buy-button
            buy-button-id="buy_btn_1OwnngFpwxwHC2W8herCGrBb"
            publishable-key="pk_test_51OWVFmFpwxwHC2W8qu4eAnQNsPubMTgtrTYXN09Dg67pOvViQwaLNlLSNm8a0FKTerVFM6jFMOHHIjO7p614RNMB00Sy1FmUkB"
          >
          </stripe-buy-button>
        </div>
      </div><div
        class="px-6 py-4 border-t border-gray-200 dark:border-gray-800"
      >
        <h4 class="text-2xl font-semibold tracking-tighter sm:text-3xl">
          $500.00 MXN
          <span class="text-base font-normal tracking-tight"
            >/pago unico por Asesoría</span
          >
        </h4>
      </div>
    </div><div
      class="flex flex-col justify-between rounded-lg overflow-hidden border-2 border-yellow-700 bg-gray-800 shadow-sm hover:scale-110 transition-all cursor-pointer"
    >
      <div class="flex flex-col justify-between p-6">
        <div class="space-y-2">
          <h3
            class="text-2xl font-semibold tracking-tighter sm:text-3xl text-yellow-600"
          >
            Asesoría Empresarial
          </h3><p class="text-gray-500 dark:text-gray-400">
            Te ayudaremos con lo siguiente.
          </p>
        </div><ul class="space-y-2 py-2 text-yellow-500">
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 inline-block h-4 w-4"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            ><span class="text-sm font-medium"
              >Cración de un plan de negocios completo</span
            >
          </li><li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 inline-block h-4 w-4"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            ><span class="text-sm font-medium"
              >Mejores herramientas para optimizar costos y tiempos</span
            >
          </li><li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 inline-block h-4 w-4"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            ><span class="text-sm font-medium"
              >Mejores estrategias de crecimiento y orientación en todo momento</span
            >
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="mr-2 inline-block h-4 w-4"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            ><span class="text-sm font-medium">Y más</span>
          </li>
        </ul><div class="flex flex-col gap-2 min-[400px]:flex-row">
          <a
            class="p-2 bg-yellow-700 text-white w-[50%] text-center rounded-md"
            href="mailto:brendaornelas52@gmail.com">Contratar</a
          >
        </div><div
          class="px-6 py-4 border-t border-gray-200 dark:border-gray-800"
        >
          <h4
            class="text-2xl font-semibold tracking-tighter sm:text-3xl text-white"
          >
            Personalizado
            <span class="text-base font-normal tracking-tight"
              >/pago unico por Asesoría</span
            >
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
