---
const { titulo } = Astro.props;

import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="empresa que ofrece valiosos servicios de asesoria para mejorar las condiciones de otras empresas"
    />
    <meta
      name="google-site-verification"
      content="PBpJMN_LRf5k1pGYaLIiAQ3UM0igPJ5LWT7wJV1apYo"
    />
    <title>{titulo}</title>
    <style>
      * {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
